:root {
  /* Tamaño */
  --height: 100%;
  /* Paleta de Colores */
  --darkblue: hsl(222, 45%, 50%);
  --lightblue: hsl(200, 50%, 50%);
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

.background {
  background-color: #4567b7;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  margin: 1rem auto;
  width: 80%;
  padding: 1rem;
  background-color: white !important;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  height: 85vh;
}

.title {
  padding: 5px;
  box-shadow: 0px 0px 5px var(--darkblue);
  background-color: var(--lightblue);
  color: white !important;
  font-weight: bold!important;
  text-align: center !important;
  border-radius: 5px !important;
}

.section .frame {
  position: relative;
  width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.frame .container {
  width: 50vw;
}

/* Tab 1 */

.frame .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

.frame .dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

.frame .rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

/* Tab 2 */

.frame .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

.dropdown .label{
  min-width: fit-content;
  width: 80%;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem;
  text-align: center;
  background-color: var(--lightblue);
  color: white;
  border-radius: 15px;
}

.dropdown .select {
  width: 16rem;
  padding: 5px;
  margin: 2rem;
  text-align: center;
  border-radius: 5px;
}

.dropdown .basket {
  width: 80%;
  min-height: 10vh;
}

.basket .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frame .search{
  margin: 0px
}

/* Tab 3 */

.input.observations {
  max-height: 50vh;
}

.frame .textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  max-height: 100%;
  overflow-y: scroll;
}
