:root {
  /* Tamaño */
  --height: 100%;
  /* Paleta de Colores */
  --darkblue: hsl(222, 45%, 50%);
  --lightblue: hsl(200, 50%, 50%);
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

.background {
  background-color: #4567b7;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainbox {
  margin: 1rem auto;
  width: 80%;
  padding: 1rem;
  background-color: white !important;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  height: 85vh;
}

.title {
  padding: 5px;
  box-shadow: 0px 0px 5px var(--darkblue);
  background-color: var(--lightblue);
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  border-radius: 5px !important;
}

.section{
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

.header{
  text-align: center;
}

.section .header{
  background-color: var(--darkblue);
  color: white;
  text-align: center;
  border-radius: 5px;
}

/* Articulos */

.section .article{
  padding: 5px;
  background-color: white
}

.article .label{
  text-align: center;
  font-size: 0.75rem;
}

.article .label:hover{
  cursor: pointer;
  box-shadow: 0px 0px 2rem #3354a1;
  background-color: #4567b7;
  color: white;
  border-radius: 5px;
}

.article .label:hover .icon{
  color: whitesmoke!important;
}

.label .icon{
  width: 2rem!important;
  height: 2rem!important;
}